#set($limit = $util.defaultIfNull($context.args.limit, 20))
#set($nextToken = $util.defaultIfNullOrBlank($context.args.nextToken, null))

{
  "version": "2017-02-28",
  "operation": "Scan",
  "limit": $limit,
  "nextToken": $nextToken
}